.aboutHdr{ /*top right bottom left*/
    margin: 5vw 2vw 1vw 1.5vw;
    font-size: 3rem;
    text-align: left;
}

.aboutP{
    margin: .5vw 3vw 3vw 1.5vw;
    font-size: 1.3rem;
    line-height: 2vw;
    text-align: left;
}

a.linky:visited {
    color:rgb(168, 129, 196)
}

a.linky:link {
    color: rgb(120, 151, 228)
}

.holder {
    margin: 0 0 0 0;
}

.cont {
    background-color: rgba(47, 43, 43, 0);
    color: rgb(17, 9, 9);
    padding: 1rem 0 1rem 0;
    margin: 0 1rem 0 1rem
}