.membHold {
    margin-top: 1vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 26vw 26vw 26vw;
    grid-template-rows: 35vw 35vw 35vw 35vw;
    animation: 1s ease-out 0s 1 fadeIn;
}

.memberA {
    display: block;
    transition: all 1s ease;
}

.membCurve{
    z-index: -1;
    display: block;
    height: 20vw;
    overflow: visible;
    margin: 3vw 0.5vw -19vw 0vw;
    font-size: 1.7vw;
    font-weight: 1.5vw;
    transition: all 1s ease;
    animation: 1 spinCurve 1.5s;
}

.memberB{
    display: block;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    cursor: pointer;
    filter: brightness(85%);
    margin-bottom: -1vw;
    transition: all 1s ease;
    animation: 1 spinToken 1s;
}

.memberB:hover{
    filter: brightness(100%);
    transform: scale(1.005);
}

.memberT{
    display: block;
    width: 13vw;
    height: 4.5vw;
    margin: auto;
    transition: all 1s ease;
}

.membRibbon {
    z-index: 0;
    background-color: black;
    position: absolute;
    margin-top: 13vw;
    width: 100vw;
    height: 2vw;
    transition: 1s all ease;
}

#MR1 {
    margin-top: 13vw;
}
#MR2 {
    margin-top: 48vw;
}
#MR3 {
    margin-top: 83vw;
}
#MR4 {
    margin-top: 118vw;
}

@keyframes spinCurve {
    from {
        transform:rotate(180deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spinToken {
    from {
        transform:rotate(270deg);
    }
    to {
        transform:rotate(360deg);
    }
}