@media(max-width: 840px){
    .PJContCont{
        grid-template-rows: 105vw 105vw 105vw 105vw 1vw !important;
        margin-top: 2vh !important;
        grid-row-gap: 4vw !important;
    }
    .PJCont{
        display: flex !important;
        flex-wrap: wrap;
        margin: 0vw auto 0vw auto !important;
    }
    .pojPic{
        width: 94vw;
        height: 57.5vw;
    }
    .pojDesc{
        margin-top: -0.5vw;
        height: 40vw;
        width: 90vw;
        border-style: none !important;
    }
    .pojTitleTxt{
        margin: 1vh auto 1vh auto;
        font-size: 4.6vw !important;
    }
    .pojDescTxt{
        font-size: 3.5vw !important;
    }
    .pojLoad{
        margin: 23vw auto auto 3vw !important;
        font-size: 9vw !important;
    }
}


.PJContCont{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 38.5vw 38.5vw 38.5vw 38.5vw 1vw;
    justify-content: center;
    margin: 0 auto 2vw auto;
    grid-row-gap: 4vw;
}

.PJCont{
    display: grid;
    overflow: wrap;
    grid-template-columns: 63.7vw 22vw;
    grid-template-rows: 38.5vw;
    justify-content: center;
    margin-top: 3vw;
    width: 100vw;
    height: 38vw;
    animation: 1s ease-out 0s 1 fadeIn;
    grid-column-gap: 1vw;
}

.pojPic{
    background-color: black;
    border: 0.16vw solid black;
    font-size: 1.6vw;
    color: white;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    border-style: double;
    border-color: white;
}

.pojDesc{
    color: white;
    text-align: left;
    background-color: rgb(35, 32, 32);
    padding: 2vw;
    border-style: double;
    border-color: white;
}

.pojTitleTxt{
    font-size: 2vw;
    text-align: left;
}

.pojDescTxt{
    font-size: 1.5vw;
    padding-top: 2vw;
}

.pojLoad{
    z-index: 2;
    position: absolute;
    color: white;
    font-size: 3vw;
    margin: 17vw auto auto 32vw;
}

.pojiframe{
    position: relative;
    z-index: 3;
}